@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/placeholders';
@import './base/common';
@import './base/container';

@import './components/social-link';
@import './components/logo';
@import './components/backdrop';


@import './layout/mobile';
@import './layout/header';
@import './layout/hero';
@import './layout/feautures';
@import './layout/about';
@import './layout/team';
@import './layout/clients';
@import './layout/footer';
@import './layout/portfolio-buttons';
@import './layout/portfolio-cards';

