.about {
    display: none;
    padding-top: 0;
    @media screen and (min-width: 1200px) {
        display: block;
    }
}
.about-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.about-list {
    @extend %align;
    margin-left: -30px;
}
.about-item {
    position: relative;
    margin-left: 30px;
    width: calc((100% - 90px)/3);
}
.wrapper-title {
    @extend %justify;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}
.image-title {
    
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color-white);
    background: #2f303acc;
}