.burger-menu-btn {
    border: none;
    background-color: transparent;
    fill: var(--main-black-color);
    line-height: 0;
    padding: 0;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

// .menu ~.mobile-menu.is-open {
//     display: none;
// }
.mobile-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
        // width: 100%;
        // height: 100vw;
    background-color: orangered;

    &.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    
        
    }

.mobile-menu__close {
    @media screen and (min-width: 768px) {
        display: none;
        // border: 0;
        // padding: 0;
    }
}
