body {
    background-color: var(--accent-color-white);
    color: var(--main-black-color);
    font-family: Roboto, sans-serif;
    font-weight: 700;
}
h1,h2,h3,h3,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0; 
}
ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display:block;
    max-width: 100%; 
    height: auto;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
    font-style: normal; 
    color: var(--main-black-color);
}
.section {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
