// .container {
//     width: 480px;
//     padding: 0 15px;
    
// }
.container {
    padding-left: 15px;
    padding-right: 15px;
}
// 480px +
@media screen and (min-width: 480px) {
    .container {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
}
// 768px +
@media screen and (min-width: 768px) {
   .container {
    width: 736px;
  }
}

// 1200px +
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

// .container {
//     width: 1200px;
//     padding: 0 15px;
//     margin: 0 auto;
// }
// container {
//     padding-right: 15px;
//     padding-left: 15px; 
//     // margin-right: auto;
//     // margin-left: auto;
// }
// @media screen and (min-width: 480px) {
//     .container {
//         width: 480px;
//         // margin: 0 auto;
//     }
    
// }
// @media screen and (min-width: 768px) {
//     .container {
//         width: 768px;
//         // margin: 0 auto;
//     }
// }
// @media screen and (min-width: 1120px) {
//     .container {
//         width: 1120px;
//         // margin: 0 auto;
//     }
// }
