:root {
    --main-black-color: #212121;
    --secondary-black-color: black;
    --text-color: #757575;
    --accent-color-blue: #2196F3;
    --accent-color-white: #FFFFFF;
    --extra-blue: #188CE8;
    --bg-dark: #2F303A;
    --bg-light: #F5F4FA; 
    --address-color: rgba(255, 255, 255, 0.6);
    --main-font-family: Roboto, sans-serif;
    --border-line: #ECECEC;
    --icon-color: #AFB1B8;
    --main-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}